@model IEnumerable<AboutLanguage>



<!-- DataTales Example -->

@ViewBag.Sayi
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a id="myBtn" asp-action="create">Create</a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Seo</th>
                        <th>Photo</th>

                        <th> </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Seo</th>
                        <th>Photo</th>

                        <th> </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@Html.Raw(item.Description)</td>
                            <td>@item.SEO</td>
                            <td>
                                <img width="100" src="@item.About.PhotoURL" />
                            </td>
                            <td>
                                <a href="/admin/about/detail/@item.About.ID" class="btn btn-warning">Detail</a>
                                <a href="/admin/about/edit/@item.About.ID" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let button = document.getElementById("myBtn");

    button.addEventListener('click', function(e){
        e.preventDefault()
        e.stopPropagation()


        Swal.fire(
            'Diqqet',
            'Yeni mehsul elave ede bilmezsiniz',
            'warning'
        )
    })

</script>

}